## .gitignore chuẩn cho .NET + Rider + ReSharper
## Tham khảo: https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
# Thêm dòng này để bỏ qua thư mục publish
**/publish/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Rider IDE
.idea/
*.sln.iml
riderModule.iml
_ReSharper.Caches/

# JetBrains Rider / ReSharper cache
/.idea/
/_ReSharper*/
/*.DotSettings.user

# NuGet Packages (if manually restored)
/packages/

# Docker related
**/Dockerfile
**/.dockerignore
